html
{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    color: #333333;
}

h1, h2, h3, p, a
{
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
}

h2
{
    font-size: 24px;
    font-weight: 500;
}

h3
{
    font-size: 20px;
    font-weight: 400;
}

p
{
    font-size: 16px;
    font-weight: 400;
}

a
{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #53A6EE;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    color: #4EACF3;
}


.cta_btn
{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #E57125;
    text-decoration: none;
    padding: 10px 0;
    width: 100px;

    border: 1px solid #3082ED;
    border-radius: 3px;
    background-color: #53A6EE;
    color: #F8F8F8;

}

.cta_btn:hover
{
    color: #F8F8F8;
    background-color: #4EACF3;

    text-decoration: none;
}

.cta_btn:active
{
    color: #F8F8F8;
    background-color: #4494EF;

    text-decoration: none;
}

.thin
{
    font-weight: 300;
}

.center
{
    text-align: center;
}

.main_container
{
    display: block;
    width: 50%;
    margin: 150px auto 20px auto;
    padding: 20px;
    border: 1px solid #BBB;
    border-radius: 3px;
    box-shadow: 0 0 15px #999;

}

.small_container
{
    display: block;
    min-width: 450px;
    max-width: 1000px;
    width: 25%;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #BBB;
    border-radius: 3px;
    box-shadow: 0 0 15px #999;

}

.flex_container
{
    display: flex;
    justify-content: space-around;
}

.flex_container_vert
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex_form
{

}

.flex_form label
{
    width: 35%;
    margin: 5px;
}
.flex_form input
{
    width: 65%;
    margin: 5px;
    padding: 2px;
}

.cta_container
{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.message_display
{
    background-color: #E4FEE4;
    border-color: #C8F0C8;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 0 #FFF;
}

.error_display
{
    background-color: #FED6D6;
    border-color: #F0C7C8;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 0 #FFF;
}

.logout_link
{
    float: right;
}

.cf
{
    clear: both;
}